<component name="ArtifactManager">
  <artifact type="war" name="springmvcfacelets:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springmvcfacelets.war">
      <element id="artifact" artifact-name="springmvcfacelets:war exploded" />
    </root>
  </artifact>
</component>